@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-black-100: #000319;
}

/* Define the custom property for angle with proper typing */
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

/* Keyframes for continuous rotation */
@keyframes border-rotation {
  from {
    --bg-angle: 0deg;
  }
  to {
    --bg-angle: 360deg;
  }
}

@layer utilities {
  /* Custom animation class for border rotation */
  .animate-border-rotation {
    animation: border-rotation 3s linear infinite;
  }
 

  .animated-border {
    @apply relative rounded-lg p-[2px];
    background: conic-gradient(
      from var(--bg-angle),
      #000319,
      #3730a3,
      #8b5cf6,
      #cbacf9,
      #a855f7,
      #4c1d95,
      #000319
    );
    animation: border-rotation 3s linear infinite;
  }

  .content {
    @apply rounded-lg flex justify-center items-center h-full w-full bg-gradient-to-b from-[#161A31] to-[#06091F] px-6 py-3;
  }
}